@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body {
    background-color: #f1f1f1;
}
.hero {
    font-family: Oswald;
    text-align: center;
    font-size: 2.5em;
    position: relative;
    top: 50%;
    .hero-image {
        width: 20em;
    }
}
@media only screen and (min-width: 319px) {
    .hero {
        font-size: medium;
        position: relative;
        top: 40%;
        .hero-image {
            width: 19rem;
            margin-bottom: -4em;


        }
    }
}
@media only screen and (min-width: 767px) {
    .hero {
        font-size: medium;
        h1 {
            font-size: xxx-large;
        }
        .hero-image {
            width: 42em;
            margin-bottom: -8em;
        }
    }
}
